body {
  margin: 0%;
  padding: 0%;
  height: 1500px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  background-color: white;
}

#stockValueChart {
  grid-column: 3 / span 10;
  grid-row: 3 / span 7;
  display: block;
}

#app {
  grid-column: 3 / span 10;
  grid-row: 11 / span 3;
  display: block;
}

#purchase-box {
  grid-column: 16 / span 4;
  grid-row: 3 / span 10;
  display: block;
}

#carousel_app {
  grid-row: 17 / span 3;
  grid-column: 3 / span 10;
  display: block;
}
